

# Only configure if we're in a root project
if [ -d packages ]; then
  PATH_add packages/python/bin
  PATH_add packages/verilator/bin

  # Only add 'src' to libpath if we're in a development area
  if ! compgen -G "packages/python/lib/python*/site-packages/hdl_if" >/dev/null 2>&1; then
    path_add PYTHONPATH src
  fi
else
  source_up_if_exists
fi


